---
layout: post
---

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="https://raw.github.com/mbostock/d3/fe671a70e236710412a514fa276e59f875f3c617/d3.js"></script>
<script type="text/javascript" src="https://raw.github.com/mbostock/d3/fe671a70e236710412a514fa276e59f875f3c617/d3.layout.js"></script>
<script type="text/javascript" src="https://raw.github.com/mbostock/d3/fe671a70e236710412a514fa276e59f875f3c617/d3.geom.js"></script>
<script src="http://signalnoise.herokuapp.com/socket.io/socket.io.js"></script>
<style type="text/css" media="screen">
  line.link {
    stroke: #999;
    stroke-opacity: .6;
  }
  #rates {
    float: left;
	width: 170px;
  }
</style>
<script type="text/javascript" charset="utf-8">

  $(function(){
    var w = 400,
      h = 360,
      fill = d3.scale.category20();
    var vis = d3.select("#chart").append("svg:svg")
      .attr("width", w)
      .attr("height", h);

    //var legend = vis.append('svg:g')
      //.attr("transform", "translate(20,20)");
    var legends = vis.selectAll()

    var force = d3.layout.force()
      .charge(-120)
      .linkDistance(30)
      //.nodes(data.nodes)
      //.links(data.links)
      .size([w, h]).start();

    var socket = io.connect('http://signalnoise.herokuapp.com:80');
    socket.on('data', function(data){
      force.nodes(data.nodes).links(data.links).start();
      var link = vis.selectAll("line.link")
          .data(data.links)
        .enter().append("svg:line")
          .attr("class", "link")
          .style("stroke-width", function(d) { return d.value; });
      var node = vis.selectAll("circle.node")
          .data(data.nodes)
        .enter().append("svg:circle")
          .attr("class", "node")
          .attr("r", function(d) { return d.value; })
          .style("fill", function(d) { return fill(d.index); })
          .call(force.drag);

          force.on("tick", function() {
            link.attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

            node.attr("cx", function(d) { return d.x; })
                .attr("cy", function(d) { return d.y; });
          });
      socket.on('refresh data', function(data){
            var oldies = force.nodes();
            for(var i in oldies){
              data.nodes[i].x = oldies[i].x;
              data.nodes[i].y = oldies[i].y;
            }
            var weights = [];
            data.nodes.forEach(function(y){weights.push(y.value+1);});
            var scale = d3.scale.log()
                          .domain([d3.min(weights), d3.max(weights)]).range([3,30]);
            force.nodes(data.nodes).links(data.links).start();
                link.data(data.links)
                  .attr("class", "link");
                node.data(data.nodes)
                  .attr("r", function(d) { return d3.max([0,scale(d.value)]); });
            var rates = $("#rates");
            rates.html("");
            for(var i in data.nodes){
              if(data.nodes[i].value>0)
              rates.append("<span style='color:"+fill(data.nodes[i].index)+"'>&#9689;</span>"+data.nodes[i].name+" "+data.nodes[i].value+" tweets<br/>");
            }
          })

      socket.on('refresh rate', function(data){

          })
    })



    socket.on('last tweet', function(t){
      $("#lasttweet").text(t);
    })

  })

</script><!--
<div id="chart"></div>
<div style="width:600px"><b>Dernier tweet  </b><small><span id='lasttweet'></span></small></div>-->
{{ content }}